    body {
        height: auto;
        width: auto;
    }
    
    div {
        margin: 15px;
    }
    
    p {
        font-family: 'Sawarabi Gothic', sans-serif;
    }
    
    footer {
        position: relative;
        padding-top: 60%;
    }
    
    ._150x150 {
        width: 300px !important;
        height: 600px !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    /* @media all and (max-width: 900px) {
        ._150x150 {
            width: 150px !important;
            height: 200px !important;
            position: relative;
        }
    } */