* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(138, 196, 208);
    background: linear-gradient(180deg, rgba(138, 196, 208, 1) 0%, rgba(234, 227, 200, 1) 88%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1000px;
    overflow-x: hidden;
}

header {
    padding: 0px 0 20px 0;
}

nav {
    text-align: right;
    padding: 15px 0 7px 0;
}

hr {
    width: 100%;
    margin-top: 7px;
}

main {
    background-color: white;
    border-width: 2px;
    border-style: solid;
    margin: 5px 40px 0 40px;
    padding: 7px;
    height: 75%;
    border-radius: 7%;
}

main>div {
    font-size: 10px;
    margin-left: 25px;
    position: absolute;
    color: rgb(80, 78, 74);
}

footer {
    font-family: 'Sawarabi Gothic', sans-serif;
    padding-top: 1%;
    text-align: center;
}

.navbar-brand {
    position: absolute;
    font-family: 'Train One', cursive;
    margin-left: 7px;
    margin-bottom: 5px;
    width: 105px;
    height: 85px;
}

.nav-header {
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
    text-align: center;
    display: block;
    padding-top: 20px;
}

.nav-link {
    position: relative;
    margin-right: 25px;
    color: crimson;
}

.nav-link:hover {
    color: rgb(57, 84, 90)
}

.colored-border {
    border-color: rgb(129, 37, 88);
}

.notificationsBar {
    padding-top: 8px;
    display: inline-flex;
}

.icons {
    position: relative;
    font-size: 20px;
    margin-left: 7px;
}

.left-align {
    position: absolute;
    margin-left: 66%;
}

.fa-2x {
    font-size: 1.5em;
}