* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(138, 196, 208);
    background: linear-gradient(180deg, rgba(138, 196, 208, 1) 0%, rgba(234, 227, 200, 1) 88%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 1000px;
    overflow-x: hidden;
}

header {
    padding: 0px 0 20px 0;
}

nav {
    text-align: right;
    padding: 15px 0 7px 0;
}

hr {
    width: 100%;
    margin-top: 7px;
}

main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    margin: 5px 40px 0 40px;
    padding: 7px;
    height: 80%;
    border-radius: 6%;
}

h3 {
    padding-right: 15px;
    padding-left: 45px;
}

.smooth-text {
    font-family: 'Sawarabi Gothic', sans-serif;
}

.text-center {
    text-align: center;
}

.navbar-brand {
    position: absolute;
    font-family: 'Train One', cursive;
    margin-left: 7px;
    margin-bottom: 5px;
    width: 105px;
    height: 85px;
}

.nav-header {
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
    text-align: center;
    display: block;
    padding-top: 20px;
}

.nav-link {
    position: relative;
    margin-right: 25px;
    color: rgb(29, 170, 170);
}

.colored-border {
    border-color: rgb(129, 37, 88);
}

.i-flex {
    display: inline-flex;
}

.notificationsBar {
    padding-top: 1px;
    font-size: 10px;
    margin-left: 15px;
    position: absolute;
    color: rgb(80, 78, 74);
}

.icons {
    position: relative;
    font-size: 18px;
    margin-left: 8px;
}

.left-align {
    position: relative;
    margin-left: 80%;
}

.fa-2x {
    font-size: 1.5em;
}

.screen-name {
    padding: 10px 0 0 10px;
}

.small-symbol {
    font-size: 14px;
    position: relative;
    margin: 0 10px 5px 0px;
}

.addBTN {
    margin-left: 200px;
    padding-right: 15px;
}

.line-padding {
    margin: 15px 0 0 0;
}

.profile-img {
    margin: 20px 0 0 15px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.profile-count {
    padding: 40px 0 0 25px;
}

.block {
    display: inline;
}

.top-padding {
    padding-top: 7px;
}

.right-padding {
    padding-right: 82px;
}

.dull-text {
    color: grey;
}

.box-border {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.rounded-border {
    border-radius: 5px;
}

.box1 {
    padding: 5px 0 5px 0;
    margin: 20px 18px 0;
}

._150x150 {
    width: 150px;
    height: 15px;
    padding: 7px 0;
}

.left-margin {
    margin-left: 5px;
}

.boxes {
    margin: 8px 18px 0;
    position: relative;
}

.box-text {
    font-weight: bold;
}

.highlights {
    padding: 10px 20px;
}

.circles {
    padding-top: 15px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: transparent;
    border-width: 2px;
}

a.top-padding {
    color: rgb(29, 170, 170);
    font-size: 13px;
    font-weight: bold;
}

a:hover {
    color: hotpink !important;
}


/* p.smooth-text {
    font-size: 12px;
    font-weight: 500;
} */

button.circle.left-margin {
    margin-left: 35px;
}

i.left-margin {
    margin-left: 45px !important;
    padding-right: 150px;
}

img._150x150 {
    width: 150px;
    height: 160px;
    /* padding: 0 7px !important; */
    padding-top: 0;
    padding-right: 5px;
}

#add {
    font-size: 18px;
}

#posts {
    padding-right: 35px;
    padding-left: 40px;
}

#followers {
    padding-right: 15px;
}

#bio {
    padding-top: 20px;
    padding-left: 20px;
}

.footer-padding {
    padding-top: 1%;
}

#footer-nav {
    padding-left: 10%;
}

@media all and (max-width:6000px) {
    main {
        width: 500px;
    }
}
